.side_bar {
    display: flex;
    flex-direction: column;
    margin: 15px 12px 15px 12px;
    width: fit-content;
}

.side_bar input[type="checkbox"] {
    display: none;
}

.side_bar label {
    width: fit-content;
}

.side_bar .hamButton {
    display: flex;
    width: 194px;
    height: 50px;
    padding: 10px;
    align-items: center;
    gap: 7px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    transition: 0.08s ease-in-out;
}

.side_bar input[type="checkbox"]:checked ~ .hamButton {
    width: 55px;
}

.side_bar input[type="checkbox"]:checked ~ .hamButton h2 {
    display: none;
}

.side_bar .hamButton img {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}

.side_bar .hamButton h2 {
    color: #000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin: 0;
    padding: 0;
    user-select: none;
}

.side_bar .list {
    display: flex;
    width: fit-content;
    height: 326px;
    padding: 11px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    margin: 0 15px;
    user-select: none;
}

.side_bar .side_bar_button {
    display: flex;
    width: 160px;
    height: 30px;
    padding: 11px 22px 11px 15px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    align-self: stretch;
}

.side_bar .side_bar_button p {
    color: #575757;
    font-size: 16px;
    font-family: 'space grotesk', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.side_bar .side_bar_button:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.side_bar .list input[type="checkbox"]:checked ~ .side_bar_button {
    width: 13px;
}

.side_bar .list input[type="checkbox"]:checked ~ .side_bar_button p {
    display: none;
}